$sm: 450px;

.app {
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Audiowide', cursive;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #808080;
}

.drummachine {
    max-width: 800px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    margin: 0 auto;
    display: flex;

    @media (max-width: $sm) {
        flex-direction: column-reverse;
        max-height: 100%;
    }
}

.drummachine__drumpad {
    flex-basis: 60%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;

    @media (max-width: $sm) {
        flex-basis: 50%;
    }
}

.drummachine__controlpanel {
    flex-basis: 40%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;

    @media (max-width: $sm) {
        flex-basis: 50%;
    }
}

.drummachine__display {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #808080;
    box-shadow: inset 3px 3px 6px #787878, inset -3px -3px 6px #888888;
}

.drummachine__volume {
    grid-column-start: 1;
    grid-column-end: -1;
    -webkit-tap-highlight-color: transparent;

    input[type=range] {
        box-sizing: border-box;
        -webkit-appearance: none;
        width: 100%;
        border-radius: 20px;
        background: #808080;
        box-shadow: inset 3px 3px 6px #787878, inset -3px -3px 6px #888888;
        cursor: pointer;
        transition: all .05s;
        padding: 5px;
        outline: none;

        &:active {
            box-shadow: inset 5px 5px 10px #787878, inset -5px -5px 10px #888888, 5px 5px 10px #787878, -5px -5px 10px #888888;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            background: #808080;
            box-shadow: 2px 2px 4px #6d6d6d, -2px -2px 4px #939393;

            &:active {
                background: linear-gradient(145deg, #737373, #898989);
                box-shadow: 2px 2px 4px #6d6d6d, -2px -2px 4px #939393;
            }
        }
    }
}

.drummachine__pad {
    height: 100%;
    font-size: 1.3em;
    border-radius: 20px;
    background: #808080;
    box-shadow: inset 0 0 0 #787878, inset 0 0 0 #888888, 7px 7px 16px #787878, -7px -7px 16px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all .05s;
    -webkit-tap-highlight-color: transparent;

    p {
        margin: 0;
        padding: 0;
    }

    &:active,
    &--pressed {
        box-shadow: inset 7px 7px 16px #787878, inset -7px -7px 16px #888888, 7px 7px 16px #787878, -7px -7px 16px #888888;
        font-size: 1.25em;
    }
}

input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;

    &:checked+.drummachine__pad {
        box-shadow: inset 7px 7px 16px #787878, inset -7px -7px 16px #888888, 7px 7px 16px #787878, -7px -7px 16px #888888;
        font-size: 1.25em;
    }
}