.app {
    font-family: 'Audiowide', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-color: #808080;
}

.drummachine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drummachine__drumpad {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.drummachine__controlpanel {
    padding: 10px;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: stretch;

}

.drummachine__display {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #808080;
    box-shadow: inset 3px 3px 6px #787878, inset -3px -3px 6px #888888;
}

.drummachine__volume {
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;
    height: 30px;

    input[type=range] {
        box-sizing: border-box;
        -webkit-appearance: none;
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: #808080;
        box-shadow: inset 3px 3px 6px #787878, inset -3px -3px 6px #888888;
        cursor: pointer;
        outline: none;
        transition: all .05s;
        padding: 5px;

        &:active {
            box-shadow: inset 5px 5px 10px #787878, inset -5px -5px 10px #888888, 5px 5px 10px #787878, -5px -5px 10px #888888;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            background: #808080;
            box-shadow: 2px 2px 4px #6d6d6d, -2px -2px 4px #939393;

            &:active {
                background: linear-gradient(145deg, #737373, #898989);
                box-shadow: 2px 2px 4px #6d6d6d, -2px -2px 4px #939393;
            }
        }
    }
}

.drummachine__pad {
    font-size: 1.3em;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #808080;
    box-shadow: inset 0 0 0 #787878, inset 0 0 0 #888888, 7px 7px 16px #787878, -7px -7px 16px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all .05s;

    &:active,
    &--pressed {
        box-shadow: inset 7px 7px 16px #787878, inset -7px -7px 16px #888888, 7px 7px 16px #787878, -7px -7px 16px #888888;
        font-size: 1.25em;
    }
}

input[type=checkbox] {
    display: none;

    &:checked+.drummachine__pad {
        box-shadow: inset 7px 7px 16px #787878, inset -7px -7px 16px #888888, 7px 7px 16px #787878, -7px -7px 16px #888888;
        font-size: 1.25em;
    }
}